.card-group-course {
  padding: 15px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.section-cards {
  border-radius: 10px;
  padding: 7px;
  background-color: rgba(255, 255, 255);
  margin: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  box-shadow: 10px 10px 10px -10px rgb(179, 178, 178);
  border-color: rgb(36, 164, 109);
  width: 30%;
  height: 200px;
  position: sticky;
}

.section-cards:active,
.section-cards:hover,
.section-cards:focus {
  background-color: rgb(0, 116, 66) !important;
  box-shadow: none;
  border-color: rgb(36, 164, 109) !important;
}

.card-body-c {
  text-align: left;
}

.schedule-sec {
  font-size: 14px;
}

.teacher-sec {
  font-size: 15px;
}
